@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bold {
  font-weight: bold;
}


p {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: smaller;
  background-color:#ffffff;
  border-style: solid;
  
}


.section__text {
  align-self: center;
  text-align: center;
}

h3 {
  font-weight: bolder;
  font-size: medium;
  color: #000000;
  background-color:#e8dac7;
  border-style:dashed;
  border-color: #79613d;
  
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  
}


nav {
  background-color: #d8c9b3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(6, 6, 6);
}

a:hover {
  color: #ef7511;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d8c9b3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

h1 {
  text-align: center;
}

title {
  text-align: center;
}

section {
  margin-top: auto;
}

footer {
  background-color: #6c5d42;
  text-align: center;
  color: rgb(255, 255, 255);